<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>云存储管理系统</title>
<script type="text/javascript" src="/static/scripts/jquery-1.8.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/styles/style2.css" />
<link rel="stylesheet" type="text/css" href="/static/styles/style3.css" />
<link type="text/css" rel="stylesheet" href="/static/styles/slide.css"/>
<link rel="stylesheet" type="text/css" href="/static/styles/menu.css">
<script type="text/javascript" src="/static/scripts/page.js"  charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
	 //左侧导航伸缩
        $('.slides_ul li:odd').css("background-color", "#f1f1f1"); //菜单栏隔行变色
        //jquery 链式操作 点击事件
        $('.menu').click(function () {
            // jQ slideToggle方法 段落滑上或滑下,stop():停止当前正在运行的动画
            $(this).siblings('.selectSlide').stop().slideToggle(200);
            if($(this).hasclass("close"))
            {
                $(this).removeClass("close").addClass("on");
            }
            else
            {
                $(this).removeClass("on").addClass("close");
            }
        });

        $('#showall').click(function () {
            $('.selectSlide').stop().slideDown();//jQ slideDown() 段落滑下
            $('.menu').removeClass("close").addClass("on");
            $(this).removeClass("span1").addClass("span1on");
            $('#closeall').removeClass("span2").addClass("span2on");

        });
        $('#closeall').click(function () {
            $('.selectSlide').stop().slideUp();
            $('.menu').removeClass("on").addClass("close");
            $(this).removeClass("span2on").addClass("span2");
            $('#showall').removeClass("span1on").addClass("span1");
        });
        $('.slides_ul li').mousemove(function () {
            $('.menu_over').eq($(this).index()).show().siblings('.menu_over').hide();
        });
        $('.slides').mouseleave(function(){
            $('.menu_over').hide();
        });
{% if error_info %}
	alert("{{  error_info }}");
{% endif %}
	goPage(1,10);
    });

</script>

<script type="text/javascript">
var node_id;
var node_ip;
function Messagebox(zone_id,zone_ip){
	document.getElementById("popup").style.display="block";
	node_id = zone_id;
	node_ip = zone_ip;
}

function closeDiv() {
document.getElementById("popup").style.display = "none";
}
function change_zone_id(){
var new_id = document.getElementById("zone_id").value; 

/*var node_id = document.getElementById("id").value; 
var node_ip = document.getElementById("ip").value; */

if (new_id<0 || new_id>4294967295){
	alert("请输入0至4294967295之间的任意整数!");
		}
else{
		var str = '{% url "em_zone_action" %}?node_id='+node_id +'&node_ip='+node_ip +'&new_id=' +new_id;
		window.location.replace(str);
		/*var req = new XMLHttpRequest();
        req.open("GET", str);
        req.setRequestHeader("Content-Type", "text/plain;charset=UTF-8");
        req.onreadystatechange = function(){
	   if(req.readyState == 4 || req.readyState == 200){
		var a = eval('['+req.responseText+']')[0];
		alert(a);
}
} 
req.send(null);*/
}
}
</script>
</head>

<body>
<!--头文件开始-->
 {% include 'header.html' %}
<!--头文件结束-->

<!--主体部分开始-->
<div class="nr">
<!--左侧导航开始-->
<div class="left">
    <div class="topTitle">
        <span class="STYLE2">设备管理</span>
    </div>
    <div class="slides_center">
        <ul class="slides_ul">
            <li>
                <a class="menu first close">节点管理</a>

                <div class="selectSlide">
                    <span><a href="/em_nodes/" >节点状态</a></span>
                </div>
				 <div class="selectSlide">
					<span><a href="/em_add_node/">添加节点</a></span>
				</div>
                <div class="selectSlide">
                    <span><a href="/em_zone/" style="text-decoration: underline;">区域配置</a></span>
                </div>
            </li>
			<li>
                <a class="menu first close">集群管理</a>
				 <div class="selectSlide hide">
					<span><a href="/em_cluster/">缓存配置</a></span>
				</div>
			    <div class="selectSlide hide">
					<span><a href="em_shutdown">关闭集群</a></span>
				</div>
            </li>

        </ul>
    </div>
</div>
<!--左侧导航结束-->
<div class="tabCon">  
<div id="tabCon1">
<div class="target">
<div class="caption"><span>节点状态</span></div>
<div class="clear"></div>
<table id="idData">
<thead> 
<tr>
<th style="width:250px;">节点序号</th>
<th style="width:250px;">物理节点IP</th>
<th style="width:250px;">zone ID</th>
<th style="width:281px;">设置</th>
</tr>
</thead> 
<tbody id="tab">
{% for dic in zone_info %}
<tr class="color1">
<td style="width:250px;">{{ dic.node_id }}</td>
<td style="width:250px;">{{ dic.ip }}</td>
<td style="width:250px;">{{ dic.zone_id }}</td>
<td style="width:281px;"><a href="javascript:Messagebox('{{ dic.node_id }}','{{ dic.ip }}')" class="none" >修改</a></td>
</tr>
{% endfor %}
</tbody> 
</table>

<table>

<tr>

<td>

<div id="barcon" name="barcon"></div>

</td>

</tr>

</table>

</div>
    </div>  
<!--<div id="tabCon2" style="display:none">&nbsp;</div>  
    <div id="tabCon3" style="display:none">&nbsp;</div>  
    <div id="tabCon4" style="display:none">&nbsp;</div>-->   
</div>
</div>



</div>
<!--主体部分结束-->


<div id="popup" class="box1" style="position:absolute;top:200px;left:600px;display:none">
<div class="caption1">
<span>修改zone ID</span><a href="javascript:closeDiv()">关闭</a>
</div>
<table border="0" cellspacing="0" cellpadding="0" class="table1">
  <tr>
    <td class="td6"><b>*</b>新ID</td>
    <td class="td2"><input id="zone_id" name="" type = "text" maxlength="16" onkeyup="value=value.replace(/[\W]/g,'') "onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"/></td>
    <td class="td5">0至4294967295之间的任意整数</td>
  </tr>
  <tr>
    <td colspan="3"><a href="javascript:closeDiv()">取消</a><a href="javascript:change_zone_id()">确定</a></td>
    </tr>
</table>
</div>

<!--底部开始-->
{% include 'bottom.html' %}
<!--底部结束-->
</body>
</html>
