<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>云存储管理系统</title>
<script type="text/javascript" src="/static/scripts/jquery-1.8.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/styles/style2.css" />
<link type="text/css" rel="stylesheet" href="/static/styles/slide.css"/>
<link type="text/css" rel="stylesheet" href="/static/styles/input.css"/>
<link rel="stylesheet" type="text/css" href="/static/styles/menu.css">
<script type="text/javascript">
    $(function () {
	 //左侧导航伸缩
        $('.slides_ul li:odd').css("background-color", "#f1f1f1"); //菜单栏隔行变色
        //jquery 链式操作 点击事件
        $('.menu').click(function () {
            // jQ slideToggle方法 段落滑上或滑下,stop():停止当前正在运行的动画
            $(this).siblings('.selectSlide').stop().slideToggle(200);
            if($(this).hasclass("close"))
            {
                $(this).removeClass("close").addClass("on");
            }
            else
            {
                $(this).removeClass("on").addClass("close");
            }
        });

        $('#showall').click(function () {
            $('.selectSlide').stop().slideDown();//jQ slideDown() 段落滑下
            $('.menu').removeClass("close").addClass("on");
            $(this).removeClass("span1").addClass("span1on");
            $('#closeall').removeClass("span2").addClass("span2on");

        });
        $('#closeall').click(function () {
            $('.selectSlide').stop().slideUp();
            $('.menu').removeClass("on").addClass("close");
            $(this).removeClass("span2on").addClass("span2");
            $('#showall').removeClass("span1on").addClass("span1");
        });
        $('.slides_ul li').mousemove(function () {
            $('.menu_over').eq($(this).index()).show().siblings('.menu_over').hide();
        });
        $('.slides').mouseleave(function(){
            $('.menu_over').hide();
        });
    });
</script>
<script type="text/javascript">
function IsDigit(cCheck) { //判断是否是数字
return (('0'<=cCheck) && (cCheck<='9')); 
}

function IsAlpha(cCheck) { //判断是否是字母
return ((('a'<=cCheck) && (cCheck<='z')) || (('A'<=cCheck) && (cCheck<='Z'))) 
}
function VerifyInput(str)
{//将数字与字母结合运用
strUserID =str;
for (nIndex=0; nIndex<strUserID.length; nIndex++)
{//通过循环判断字符串中的每个字符
cCheck = strUserID.charAt(nIndex);

if (!(IsDigit(cCheck) || IsAlpha(cCheck))){
return true;
}
}
return false;
}

function VerifyInput1(str)
{//将数字与字母结合运用
strUserID =str;
for (nIndex=0; nIndex<strUserID.length; nIndex++)
{//通过循环判断字符串中的每个字符
cCheck = strUserID.charAt(nIndex);

if (!(IsDigit(cCheck) || IsAlpha(cCheck) || cCheck=='-' || cCheck==':' || cCheck=='.' )){
return true;
}
}
return false;
}

function jsaddlu(){
var lu_name = document.getElementById("lu_name").value;
var lu_passwd = document.getElementById("lu_passwd").value;
var lun_name = document.getElementById("lun_name").value;
var lu_ip = document.getElementById("ip").value;
var index = document.getElementById("select3").selectedIndex;

var chap_name = document.getElementById("chap_name").value;
var selvalue = document.getElementById("select1").selectedIndex;
var lun_size = document.getElementById("lun_size").value;

if (VerifyInput(lu_name)|| VerifyInput(lu_passwd)||lu_name.length<1||(lu_passwd.length>1 && lu_passwd.length<12) ||VerifyInput1(chap_name)){
	alert("参数输入错误!!");
	EV_closeAlert();
}
else{
		if(chap_name.length>0 && lu_passwd.length==0){
			alert("请输入Chap口令!");
			EV_closeAlert();
		}
		else if(lu_passwd.length>0 && chap_name.length==0){
			alert("请输入Chap名称!");
			EV_closeAlert();
		}
		else{
		if(index==0){
			if(parseInt(lun_size)>4194304){
				alert("虚拟磁盘大小最多是4T!");
				EV_closeAlert();}
			else{
				lun_size = lun_size+'M';
				if(lu_name=="" || lu_ip=="" || lun_name.length<1 || lun_size=="" || VerifyInput(lun_name))
				{
					alert("参数输入错误");
					EV_closeAlert();
				}
				else{
					var str = '{% url "sm_add_target_action" %}?lu_name=' +lu_name + '&lu_passwd=' +lu_passwd +'&lu_ip='+lu_ip + '&selvalue='+selvalue +'&chap_name=' +chap_name +'&lun_name='+lun_name+'&lun_size='+lun_size;
					var req = new XMLHttpRequest();
					req.open("GET", str);
					req.setRequestHeader("Content-Type", "text/plain;charset=UTF-8");
					req.onreadystatechange = function(){
				   if(req.readyState == 4 || req.readyState == 200){
					var a = eval('['+req.responseText+']')[0];
					alert(a);}} 
			req.send(null);
			EV_closeAlert();}
		}}
		if(index==1){
		if(parseInt(lun_size)>4096){
			alert("虚拟磁盘大小最多是4T!");
			EV_closeAlert();
		}
		else{
			lun_size = lun_size+'G';
			if(lu_name=="" || lu_ip=="" || lun_name.length<1 || lun_size==""|| VerifyInput(lun_name))
			{
				alert("参数输入错误!");
				EV_closeAlert();
			}
			else{
				var str = '{% url "sm_add_target_action" %}?lu_name=' +lu_name + '&lu_passwd=' +lu_passwd +'&lu_ip='+lu_ip + '&selvalue='+selvalue +'&chap_name=' +chap_name +'&lun_name='+lun_name+'&lun_size='+lun_size;
				var req = new XMLHttpRequest();
				req.open("GET", str);
				req.setRequestHeader("Content-Type", "text/plain;charset=UTF-8");
				req.onreadystatechange = function(){
				if(req.readyState == 4 || req.readyState == 200){
					var a = eval('['+req.responseText+']')[0];
					alert(a);}} 
					req.send(null);
					EV_closeAlert();
					}
		}}
		if (index==2){
		if(parseInt(lun_size)>4){
			alert("虚拟磁盘大小最多是4T!");
			EV_closeAlert();
		}
		else{
			lun_size = lun_size+'T';
			if(lu_name=="" || lu_ip=="" || lun_name.length<1 || lun_size==""|| VerifyInput(lun_name))
			{
				alert("参数输入错误!");
				EV_closeAlert();
			}
			else{
				var str = '{% url "sm_add_target_action" %}?lu_name=' +lu_name + '&lu_passwd=' +lu_passwd +'&lu_ip='+lu_ip + '&selvalue='+selvalue +'&chap_name=' +chap_name +'&lun_name='+lun_name+'&lun_size='+lun_size;
				var req = new XMLHttpRequest();
				req.open("GET", str);
				req.setRequestHeader("Content-Type", "text/plain;charset=UTF-8");
				req.onreadystatechange = function(){
				if(req.readyState == 4 || req.readyState == 200){
					var a = eval('['+req.responseText+']')[0];
					alert(a);}} 
			req.send(null);
			EV_closeAlert();}}
		}
	}
		}
}
function clear(){

document.getElementById("lu_name").value="";
document.getElementById("lu_passwd").value="";
document.getElementById("lun_name").value="";
document.getElementById("ip").value="";
document.getElementById("lun_size").value="";
document.getElementById("select3").selectedIndex.value=0;

document.getElementById("chap_name").value="";
document.getElementById("select1").selectedIndex.value=0;

}
</script>
</head>

<body>
<!--头文件开始-->
 {% include 'header.html' %}
<!--头文件结束-->

<!--主体部分开始-->
<div class="nr">
<!--左侧导航开始-->
<div class="left">
    <div class="topTitle">
        <span class="STYLE2">存储管理</span>
    </div>
    <div class="slides_center">
        <ul class="slides_ul">
            <li>
                <a class="menu first on" id="ip_san">IP_SAN管理</a>

                <div class="selectSlide">
                    <span><a href="/sm_ip_san/" class="none">目标器列表</a></span>
                </div>
				 <div class="selectSlide">
					<span><a href="/sm_add_target/" style="text-decoration: underline;" class="none">添加目标器</a></span>
				</div>
				 <div class="selectSlide">
					<span><a href="/sm_recover_target/" class="none">恢复目标器</a></span>
                </div>
            </li>
<li>
	<a class="menu first close">FC_SAN管理</a>

	<div class="selectSlide hide">
		<span><a href="/sm_fc_san/" class="none">连接管理</a></span>
	</div>
	 <div class="selectSlide hide">
		<span><a href="/sm_lun_assign/" class="none">LUN分配</a></span>
	</div>
</li>
<li>
	<a class="menu first close">服务配置</a>
	<div class="selectSlide hide">
		<span><a href="/sm_service_conf/" class="none">iSCSI服务</a></span>
	</div>
	 <div class="selectSlide hide">
		<span><a href="/sm_fc_service/" class="none">FC服务</a></span>
	</div>
</li>
    </ul>
    </div>

</div>
<!--左侧导航结束-->
<div class="tabCon">  
<div id="tabCon1">
<div class="target">
<div class="caption"><span>添加目标器</span></div>
<div class="clear"></div>
<ol id="need">
<li class="td2">目标器信息：</li>

<li><label class="td1">* &nbsp;目标器名称：&nbsp;</label> <input name="" type="text" id="lu_name" maxlength=16  onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9]/g,'')"/><dfn>（1~16个半角字符，可输入字母、数字）</dfn></li>

<li><label class="td1">&nbsp; &nbsp;Chap名称：&nbsp; &nbsp;&nbsp;</label><input name="" type="text" id="chap_name" maxlength=64  onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\:\.\-]/g,'')"/><dfn>（可输入数字、字母.、小数点、冒号、短横杠）</dfn></li>

<li><label class="td1">&nbsp; &nbsp;Chap口令：&nbsp;&nbsp;&nbsp;</label> <input name="" id="lu_passwd" type="password" maxlength=16 onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9]/g,'')"/><dfn>（12~16个半角字符，可输入字母、数字）</dfn></li>

<li><label class="td1">* &nbsp;目标器节点IP:&nbsp;</label><input name="ip" id="ip" type="text" maxlength=16  onkeyup="value=value.replace(/[^\d\.]/g,'')"/><dfn>（正确的IPv4格式）</dfn></li>

<li><label class="td1">* &nbsp;IP过滤规则：&nbsp; &nbsp;</label><select name="select" id="select1" class="select1">
                           <option value="0">ALL(全部)</option>
                           <option value="1">*.*.*.0/24(本子网可见)</option>
                           <option value="1">*.*.0.0/16(多子网可见)</option>
                       </select><dfn></dfn></li>
			   <li class="td2">虚拟磁盘信息：</li>

<li><label class="td1">* &nbsp;虚拟磁盘名字:</label><input id="lun_name" name="" type="text" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9]/g,'')" maxlength=16 /><dfn>(1~16个半角字符，可输入字母、数字)</dfn></li>

<li><label class="td1">* &nbsp;读写权限:&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</label><select name="select" id="select1" class="select1"><option value="0">读写</option></select><dfn></dfn></li>

<li><label class="td1">* &nbsp;空间大小:&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</label><input id="lun_size" name="" type="text" class="input2" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" /></td>
    <td><select name="select" id="select3" class="select3">
                           <option value="0">MB</option>
                           <option value="1">GB</option>
                           <option value="2">TB</option>
                       </select><dfn>(最大为4T，可输入数字)</dfn></li>

<li><a href="javascript:clear()">取消</a><a href="javascript:jsaddlu()" class="none">确定</a></li>
</ol>
</div>
    </div>  
<!--<div id="tabCon2" style="display:none">&nbsp;</div>  
    <div id="tabCon3" style="display:none">&nbsp;</div>  
    <div id="tabCon4" style="display:none">&nbsp;</div>-->   
</div>
</div>




<!--主体部分结束-->


<!--底部开始-->
{% include 'bottom.html' %}
<!--底部结束-->
</body>
</html>
